*{
    margin: 0px;
    padding: 0px;
}

#img_accueil{
    height: 8rem;
    border-radius: 10px;
}

#headButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    background-color: #221F26;
    border: solid #D9644A 5px;
    padding-bottom: 5vh;
    padding-top: 3vh;
    border-radius: 10px;
}

nav{
    display: flex;
    flex-direction: column;
}

header button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 2vh;
    background-color: #fff;
    border-radius: 24px;
    font-size: 2vh;
    padding: 2px 24px;
    text-transform: none;
}

header button:hover {
    background: #D9644A;
    color:#F6F9FE  ;
}
